#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.list-item-active {
    padding-left: 24px;
    // transform: scale(1);
    // transition: 0.3s padding-left ease-in-out;

    // padding-left: 24px;


//     padding-left: 24px;
//   transition-property:  padding-left;
//   transition-duration: 1s;
}

.list-item {
    padding-left: inherit;
    transform: scale(1);
    transition: 0.1s padding-left ease-in-out;
}

.list-item:hover {
    transform: scale(1);
    transition: 0.1s padding-left ease-in-out;
    padding-left: 24px;
}


.nothing-msg {
    display: flex;
    justify-content: space-evenly;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 36px;
    // margin-right: 18px;
}

.table-entry-buttons-disabled {
    padding: 0;
    margin-left: 36px;
}

.button-group {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}



.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
}

.signup-modal {
    width: 375px;
    color: white;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}

.welcome {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 30%;
}
.welcome-text {
    margin-top: 1%;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-left : 35%;
    margin-right : 35%;
}

.yourMapRed{
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 2%;
    width: 66%;
    background-color: red;
}

.yourMapBlack{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 6%;
    width: 66%;
    background-color: black;
    text-align: center;
    font-size: 25px;
}

.yourMapGlobe{
    // float: right;
    // margin-right: 17%;
    width: 100%;
    margin-bottom: .5%;
    // height: 40%;
}

.yourMapLeft{
    float: left;
    margin-left: 17%;
    height: 75%;
    background-color: pink;
    width: 33%;
}

.yourMapRight{
    float: right;
    margin-right: 17%;
    height: 75%;
    // background-color: pink;
    width: 33%;
    // display: flex;
    // flex-direction: column;
}

.yourMapButton{
    margin-top: -1%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 21.5px;
    // width: 33%;
    // height: 10%;
    // display: block;
}
.map-entry, .map-entry-edit{
    margin-top: 5%;
    margin-bottom: -6%;
    border-bottom: 10px;
    height: 10%;
}

.map-entry:hover, .map-entry-edit{
    background-color: lightcoral;
}

.map-entry-name{
    font-size: 160%;
    font-weight: bold;
    margin-left: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer
}

.map-entry-input{
    width: 100%;
}

.map-entry-text{
    overflow: auto;
    overflow: hidden;
}

.map-entry-delete{
    display: flex;
    align-items: center;
}

.map-entry-ed{
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.map-edit{
    background-color: transparent;
}

.map-delete{
    background-color: transparent;
}

.spreadSheet{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 88%;
    // width: 50%;
    background-color: lightgrey;
}

.spreadSheet-title{
    background-color: rgb(64, 69, 78);
}

.region-add, .region-undo, .region-redo, .region-home{
    background-color: transparent;
    color: white;
}

.region-add{
    color: greenyellow;
}

.regionNameSheetCol, .sheetNameCol{
    display: flex;
    align-items: center;
}

.regionNameSheet{
    color: white;
    padding-left: 60%;
    text-align: right;
    font-weight: bold;
    font-size: 130%;
}

.sheetName{
    color:skyblue;
    font-weight: bold;
    font-size: 130%;
    overflow: auto;
    overflow: hidden;
    width: 90%;
}

.navRegionName{
    font-weight: bold;
    font-size: 130%;
    overflow: auto;
    overflow: hidden;
    width: 80%;
}

.spreadSheet-header{
    background-color: rgb(208,47,47);
    height: 5.5%;
    align-items: center;
}

.sheet-header{
    color: white;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
}

.sheetEntry{
    color: black;
    font-size: 130%;
    text-align: center;
    // border: 1px solid;
}

.sheetCol:hover{
    background-color: gray;
}

.sheetContent{
    overflow: auto;
    height: 89%;
}

.sheet-delete{
    background-color: transparent;
    color: red;
}

.sheetCol-name{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sheetEntry-name{
    align-self: center;
    width: 100%;
}

.sheetCol{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.regionViewer{
    // display: flex;
    // flex-direction: row;
    // width: 100%;
    // background-color: yellow;
}

.viewerLeft{
    // background-color: red;
    height: 85%;
    // width: 47%;
    margin-right: 10%;
    margin-top: 6%;
    margin-left: 6%;
}

.viewer-region-name, .viewer-parent-name{
    color: white;
    font-size: 150%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.viewer-region-name-value{
    margin-left: -5%;
}

.viewer-parent-name-value{
    color: lightblue !important;
    overflow: auto;
    overflow: hidden;
}

.viewer-parent-name-value:hover{
    cursor: pointer;
}

.viewerRight{
    // background-color: blue;
    height: 85%;
    margin-left: 10%;
    margin-top: 6%;
    margin-right: 6%;
    // width: 47%;
}

.regionLandmarkTitle{
    color: white;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

.viewer-redo, .viewer-undo{
    color: white;
    background-color: transparent;
}

.viewer-edit{
    background-color: transparent;
    color: white;
}

.viewerFlag{
    // background-color: white;
    height: 35%;
    width: 50%;
}

.viewer-transpant{
    color: transparent;
    background-color: transparent;
    pointer-events: none;
}

.viewerLandmarkBackground{
    background-color: black;
    width: 85%;
    margin-left: 10%;
    height: 90%;
}

.viewerLandmarkInput{
    background-color: grey;
    width: 85%;
    margin-left: 10%;
    height: 5.65%;
}

.viewerLandmarkInputAdd{
    background-color: transparent;
    color: greenyellow
}

.viewerLandmarkInputAddBox{
    background-color: lightgray;
    width: 50%;
    height: 100%;
}

.sheetFlag{
    width: 20%;
    padding-top: 2%;
}

.flagViewer{
    width: 95%;
}